/*
  Botons
*/


/*** Botons ***/
a.btn {
  text-decoration: none;
}
.btn {
  @include mix__button;
  color: #000;
  background-color: #fff;
  border: solid 2px #000;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #000;
    border: solid 2px #fff;
  }
}


/*** Boto desactivat ***/
.btn.btn_desactivat,
.btn.btn_desactivat:hover,
.btn.btn_desactivat:focus,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus {
  opacity: 0.25;
  pointer-events: none;
  cursor: not-allowed;
}
